/*
.contact-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 70vh;
  padding: 10px;
}
*/ 

h1 {
    font-weight: 600;
    font-size: 40px;
    color: #003B5C;
}
  