.form-body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 80vh;
    background: #f3f3f3; /* Fallback background color */
    flex-direction: column;
    margin: 10vh auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px; 
    transition: transform 0.2s;
    width: 90%; /* Adjust width for responsiveness */
    max-width: 500px;
    text-align: center;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%; /* Full width for input fields */
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 15px; 
    border-radius: 10px;
    margin-top: 10px; 
    margin-bottom: 10px; 
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    font-family: "STIX Two Text" , sans-serif;
    width: auto; /* Auto width for buttons */
    font-size: 16px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

button.switch {
    background-color: #003B5C;
    font-family: "STIX Two Text" , sans-serif;
}

button.signout {
    background-color: #DC3545; 
    font-family: "STIX Two Text" , sans-serif;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    .form-body {
        padding: 15px; /* Reduce padding on smaller screens */
        margin: 5vh auto; /* Reduce top and bottom margin */
    }

    button {
        width: 50%; /* Full width for buttons */
    }

    input {
        padding: 8px; /* Adjust padding for inputs */
    }
}

