/* .text-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto; 
    padding: 50px; 
    min-height: 100vh; 
    position: relative;
}

replaced with .page-container class for image scaling
*/

.button {
  background-color: #003B5C;
  color: white;
  align-items: center;
  align-content: center;
  width: 50vw;
  height: 7vh;
  font-family: "STIX Two Text" , sans-serif;
  border-radius: 0px;
  /* margin-bottom: 39px; */
}

h1 {
  margin-top: 39px;;
  color: #000000;
  font-weight: 600;
}

.container{
  width: 10%;
  text-align: center;
}