html, body {
    height: 100%; 
    margin: 0; 
}

body {
    display: flex;
    flex-direction: column; 
}

.page-container {
    flex: 1; 
    padding-bottom: 50px; 
}

.footer {
    background-color: #003B5C; 
    color: white; 
    text-align: center;
    padding: 10px 0; 
    border-top: 2px solid black; 
    position: relative; 
    overflow: hidden;
}

.logo-container {
    display: flex;
    padding: 10px 0; 
    flex-wrap: nowrap;
    margin-left: 10px;
    align-items: center;
}

.logo {
    height: 40px; 
    width: auto;
    display: flex;
    margin-right: 10px; 
    align-items: center;
}

.brand-name {
    font-size: 1.2em; 
    white-space: nowrap;
}

.footer-bottom {
    font-size: 0.8em; 
    padding-left: 280px; 
}

.socials-container {
    display: flex;
    gap: 10px; 
    margin-left: 280px; 
}

@media (max-width: 768px) {
    .footer {
        padding: 20px 0; 
    }

    .logo-container {
        flex-direction: column; 
        align-items: center; 
    }

    .brand-name {
        margin-top: 10px; /* Adjust the spacing between logo and brand name */
    }

    .footer-bottom {
        display: none; 
    }

    .socials-container {
        margin-top: 20px; 
        margin-left: 0; 
    }
}