html, body {
    height: 100%; /* Ensure the body takes the full height */
    margin: 0; /* Remove default margin */
}

body {
    display: flex;
    flex-direction: column; /* Stack footer at the bottom */
}

.page-container {
    flex: 1; /* This allows the page container to take up available space */
    padding-bottom: 50px; /* Add space to prevent content from hiding behind the footer */
}

.footer {
    background-color: #003B5C; 
    color: white; 
    text-align: center;
    padding: 10px 0; 
    border-top: 2px solid black; 
    /* Make the footer fixed at the bottom */
    position: relative; /* Keep it relative to the document flow */
    overflow: hidden;
}

.logo-container {
    display: flex;
    padding: 10px 0; 
    flex-wrap: nowrap;
    margin-left: 10px;
}

.logo {
    height: 40px; 
    width: auto;
    display: flex;
    margin-right: 10px; 
    align-items: center;
}

.brand-name {
    font-size: 1.2em; 
    white-space: nowrap;
}

.footer-bottom {
    font-size: 0.8em; 
    padding-left: 280px; 
}

.socials-container {
    display: flex;
    gap: 10px; 
    margin-left: 280px; 
}
